html *
{
    color: #000 !important;
    font-family: Helvetica !important;
}
body{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(background.jpg);
    background-size: cover;
    
}
h1
{
    font-size: 40px;
    padding-top: 50px;
}
.soldi
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: auto;
    position: relative;
    animation: doIt 2s linear 0s infinite alternate;
    /* animation: rotate 1s linear 0s infinite alternate, float 1s linear 0s infinite alternate; */
    /* animation: rotate 1s linear 0s infinite alternate, float 1s linear; */
    
}
@keyframes doIt{
    0% {
        transform:  translate(0px,0px) rotate(-45deg);
    }
    25% {
        transform:  translate(0px,-20px) rotate(45deg);
    }
    50% {
        transform:  translate(0px,-40px) rotate(-45deg);
    }
    75% {
        transform:  translate(0px,-20px) rotate(45deg);
    }
    100% {
        transform:  translate(0px,0px) rotate(-45deg);
    }
}

@-moz-keyframes float{
    0% {
        -moz-transform:  translate(0px,0px)  rotate(0deg) ;
    }
    33% {
        -moz-transform:  translate(0px,40px)  rotate(45deg) ;
    }
    66% {
        -moz-transform:  translate(0px,-40px)  rotate(-45deg) ;
    }
    100% {
        -moz-transform:  translate(0px,-40px)  rotate(-45deg) ;
    }
}
@-webkit-keyframes float {
    0% {
        -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
    }
    33% {
        -webkit-transform:  translate(0px,40px)  rotate(45deg) ;
    }
    66% {
        -webkit-transform:  translate(0px,-40px)  rotate(-45deg) ;
    }
    100% {
        -webkit-transform:  translate(0px,-40px)  rotate(-45deg) ;
    }
}
@-o-keyframes float {
    0% {
        -o-transform:  translate(0px,0px)  rotate(0deg) ;
    }
    33% {
        -o-transform:  translate(0px,40px)  rotate(45deg) ;
    }
    66% {
        -o-transform:  translate(0px,-40px)  rotate(-45deg) ;
    }
    100% {
        -o-transform:  translate(0px,-40px)  rotate(-45deg) ;
    }
}
@-ms-keyframes float {
    0% {
        -ms-transform:  translate(0px,0px)  rotate(0deg) ;
    }
    33% {
        -ms-transform:  translate(0px,40px)  rotate(45deg) ;
    }
    66% {
        -ms-transform:  translate(0px,-40px)  rotate(-45deg) ;
    }
    100% {
        -ms-transform:  translate(0px,-40px)  rotate(-45deg) ;
    }
}
.generate
{
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 20px;
    transition-duration: 0.5s;
}
.generate:hover
{
    background-color: lightgray;
}
.generate:focus
{
    outline: none;
}
